@charset "utf-8";
/* CSS Document */

body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 8%;
  background-color: #252831;
  text-align: center;
}

nav h1 h2 h3{
  margin: auto;
}

nav h1 h2 h3 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 20%;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 1% 1% 0%;
  list-style: none;
  background-color: #d4d1d2;
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

@media (min-width: 600px) {
  .filter-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: #3397DB;
    align-items: center;
  }
}

@media (max-width: 599px) {
  .filter-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color: #3397DB;
    align-items: center;
  }
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 2%;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#restaurants-list {
  justify-content: space-around;
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 0;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 1%;
  min-height: 380px;
  padding: 1%;
  text-align: center;
  width: 270px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h1 h2 h3{
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 125%;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 10px 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

#restaurants-list p {
  text-align: center;
  font-size: 100%;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  border-radius: 0.5em;
  color: #fff;
  display: inline-block;
  font-size: 80%;
  padding: 1% 1% 1%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  width: 270px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h1 h2 h3{
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

@media (min-width:601px){
  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }
  .inside #footer {
    bottom: 0;
    width: 45%;
  }
  #restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 3em;
    font-weight: 200;
    letter-spacing: 2%;
    margin: 5% 0 3%;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    height: 100%
  }
  #restaurant-img {
    width: 90%;
  }
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2% 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    margin-top: 15%;
    width: 50%;
    text-align: center;
    justify-content: space-between;
  }
  #reviews-container {
    padding: 1% 0% 1% 1%;
  }
  #reviews-container h2 h3{
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
  #reviews-list {
    margin: 0;
    padding: 0;
  }
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 3%;
    overflow: hidden;
    padding: 0 2% 2%;
    position: relative;
    width: 85%;
  }
  #reviews-list li p {
    margin: 0 0 10px;
  }
  #restaurant-hours td {
    color: #666;
  }
  #breadcrumb {
    width: 100%;
    margin:0%;
    align-items: left;
  }
}

@media (max-width:600px) {
  .inside #maincontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .inside header {
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  nav {
    height: 25%;
    align-content: center;
    width: 100%;
  }
  .inside header nav {
    height: 2%;
    width: 100%;
  }
  .inside #restaurant-container, #reviews-container, #map-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .inside #restaurant-container {
    order: 1;
  }
  .inside #reviews-container {
    order: 3;
  }
  #restaurant-img {
    width: 90%;
  }
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 1% 0 2%;
    padding: 2% 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
  }
  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 5% 1% 5% 1%;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  #reviews-container h2 h3{
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
  #reviews-list {
    margin: 0;
    padding: 0;
  }
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 85%;
  }
  #reviews-list li p {
    margin: 0 0 10px;
  }
  #restaurant-hours td {
    color: #666;
  }
  #restaurant-name {
    color: #f18200;
    height: 5%;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  .inside #map-container {
    width: 100%;
    order: 2;
    background: blue none repeat scroll 0 0;
    height: 87%;
    right: 0;
  }
  .inside #map {
    background-color: #ccc;
    width: 100%;
  }
  #restaurant-img {
    width: 90%;
    height: 50%;
  }
  #breadcrumb {
    width: 100%;
    padding: 1%;
  }
  .inside #footer {
    text-align: center;
  }
}
